.todo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-top: 1rem;
}

.todo__content h3 {
    margin: 0 0 0 0.7rem;
}

.todo__delete-btn {
    display: none;
}

.todo__delete-btn--open {
    display: block;
    
}

.todoOptionsButton {
    margin-left: auto;
}

.todoOptionsBar {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background:rgba(255,255,255, 0.9);
}

.todoOptionsBar.Open-true {
    z-index: 1;
}

