@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
    --app-black: #00160A;
    --app-light-green: #64FCD9;
    --app-yellow: #FFB61D;
    --app-red: #EC7495;
}

* {
    font-family: 'Comic Neue', cursive;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
}

a {
    text-decoration: none;
    color: var(--app-black);
}

p, a {
    font-size: 1rem;
    line-height: 1.4rem;
}

main {
    width: 100%;
    text-align: center;
    position: relative;
}

section {
    width: 100%;
}

nav {
    text-align: left;
}



.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-group .button {
    margin: 0 0.6rem 0.6rem 0;
}

.auth-form, .auth-form input {
    width: 374px;
    margin-bottom: 1rem;
}

.auth-form input {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 0.6rem;
    padding: 1rem;
}

.auth-form input:focus {
    outline: none;
    box-shadow: 0px 0px 10px var(--app-yellow);
}

.auth-form input:invalid:focus {
    outline: none;
    box-shadow: 0px 0px 10px var(--app-red);
}

.auth-form input:valid:focus {
    outline: none;
    box-shadow: 0px 0px 10px var(--app-light-green);
}




svg {
    width: inherit;
    height: inherit;
}

