.todo-form {
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: flex-start;
    background-color: wheat;
}

.todo-form--close {
    display: none;
}

.todo-form > * {
    margin-bottom: 1rem;
}

.todo-form fieldset {
    display: flex;
    min-height: 3rem;
    flex-wrap: wrap;
}

.todo-form fieldset > * {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.todo-form .todo-formButton {
    margin-top: 1.5rem;
    align-self: center;
}